body {
  font: 100%/1.5 system-ui;
  max-width: 100ch;
  margin-inline: max(1em, (100% - 100ch) / 2);
  margin-block: 2rem;
}

img {
  max-width: 400px;
  margin: 1rem 0 1rem 2rem; /* top right bottom left */
  width: 100%;  
  height: auto;
  display: block;
}